body {
  background-image: url("https://www.ppt-backgrounds.net/thumbs/night-sky-free-stock-photo--public-domain-pictures-frame-templates.jpeg");
  background-color: ;
  color: #dddddd;
  font-family: Calibri, Helvecta, Sans-Serif;
  margin:
    
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.7);
  margin: 6% 20% 0% 0%;
 
}

.name-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 5px solid #dddddd;
  border-bottom: 5px solid #dddddd;
  background-color: rgba(0,200,300, 0.7);
}
.grid-container{
  display:grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  grid-gap: 20px;
  
  
}

.footer {
  text-transform: uppercase;
  text-align: center;
  border-top: 5px solid #dddddd;
  border-bottom: 5px solid #dddddd;
  background-color: rgba(0,200,300, 0.7);
  
}
.img {
  text-align: center;
  }


.iframe {
  width: 50%;
  padding-right: 15px;
  margin-right: 15px;
  float: right;
  
}
.aside2 {
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  
}
.exp {
  margin: 1% 10% 10% 2%;
  background-color: rgba(0,0,0, 0.5);
  display:grid;
  grid-template-columns: 3fr;  
}  
