body {
  background-color: #444444;
  color: #dddddd;
  font-family: Calibri, Helvecta, serif-sans;
  margin: 10% 20%;
  background-image: https://i.imgur.com/spQpPoL.jpg;
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
}
.name-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,200,300, 0.2);
  margin: 10%
}   
.address {
  text-transform: uppercase;
  text-align: center;
}
