body {
  background-image: url("https://www.ppt-backgrounds.net/thumbs/night-sky-free-stock-photo--public-domain-pictures-frame-templates.jpeg");
  background-color: ;
  color: #dddddd;
  font-family: Calibri, Boxed, Futura;
  margin:
    
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.7);
  margin: 2% 20% 0% 20%;
 
}

.name-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 5px solid #dddddd;
  border-bottom: 5px solid #dddddd;
  background-color: rgba(0,200,300, 0.7);
}

.grid-container{
  display:grid;
  grid-template-columns: 70% 30%;
  justify-content:center;
  grid-gap: 1px;
  
}

.footer {
  text-transform: uppercase;
  text-align: center;
  border-top: 5px solid #dddddd;
  border-bottom: 5px solid #dddddd;
  background-color: rgba(0,200,300, 0.7);
  margin: 5% 0% 0 0%;
  
}
.img {
  text-align: center;
  }


.iframe {
  width: ;
  padding-right: 15px;
  margin-right: 111px;
  margin-top: 200px;
  float: right;
  
}
.aside2 {
  width: ;
  padding-right: 15px;
  margin-right: 111px;
  margin-top: 200px;
  float: right;
  
}
.exp {
  margin: 0% 0% 0% 20%;
  background-color: rgba(0,0,0, 0.2);
    
}  
